<div autosize autoFocus [ngClass]="{
  'sidebarNav-mini': options.sidenavCollapsed && options.navPos !== 'top' &&  !resView,
  'sidebarNav-horizontal': options.horizontal,
  cardBorder: options.cardBorder,
}" class="page-container" [dir]="options.dir!">
  <!-- ============================================================== -->
  <!-- Header -->
  <!-- ============================================================== -->  
  <app-header [showToggle]="!isOver" (toggleCollapsed)="toggleCollapsed()" (toggleMobileNav)="sidenav.toggle()"
    (toggleMobileFilterNav)="filterNavRight.toggle()"></app-header>
  

  <mat-sidenav-container class="mainWrapper">
    <!-- ============================================================== -->
    <!-- Sidebar -->
    <!-- ============================================================== -->
    <mat-sidenav align="start" #leftsidenav [mode]="isOver ? 'over' : 'side'" [opened]="
        options.navPos === 'side' &&
        options.sidenavOpened &&
        !isOver &&
        !resView
      " (openedChange)="onSidenavOpenedChange($event)" (closedStart)="onSidenavClosedStart()" class="sidebarNav">      
      <ng-scrollbar class="position-relative mini-scroll" style="height: calc(100vh - 230px)">
        <mat-nav-list class="sidebar-list">
          @for(item of navItems; track item) {
          <app-nav-item [item]="item" (notify)="sidenav.toggle()" class="top-parent">
          </app-nav-item>
          }
        </mat-nav-list>
      </ng-scrollbar>
    </mat-sidenav>

    <!-- ============================================================== -->
    <!-- Main Content -->
    <!-- ============================================================== -->
    <mat-sidenav-content class="contentWrapper">    
      <main class="pageWrapper" [ngClass]="{
          maxWidth: options.boxed
        }">
        <!-- ============================================================== -->
        <!-- Outlet -->
        <!-- ============================================================== -->
        <router-outlet></router-outlet>        
      </main>
    </mat-sidenav-content>
  </mat-sidenav-container>
  <!-- ------------------------------------------------------------------
  Mobile Apps Sidebar
  ------------------------------------------------------------------ -->
  <mat-drawer #filterNavRight mode="over" position="end" class="filter-sidebar">
    <div>
      <div class="d-flex justify-content-between align-items-center p-16">
        <button mat-icon-button (click)="filterNavRight.toggle()" class="d-flex justify-content-center">
          <i-tabler name="x" class="icon-18 d-flex"></i-tabler>
        </button>
      </div>
      <div class="p-x-16">
        <div class="row">
          
          <div class="position-relative p-x-16 p-b-16 w-100">
            <h4 class="f-s-18 f-w-500 m-b-20">Quick Links</h4>
            
          </div>
        </div>
      </div>
    </div>
  </mat-drawer>
</div>