@use "variables" as *;

*,
:after,
:before {
  box-sizing: border-box;
}

body {
  font-family: $font-family;
  line-height: 1.334rem;
  overflow-x: hidden;
  color: var(--mat-sys-on-background);
}

.mainWrapper {
  display: flex;
  min-height: calc(100vh - 60px);
  width: 100%;
  flex: 1;
  height: 100%;
}

.container {
  max-width: $boxedWidth;
  padding-left: 24px;
  padding-right: 24px;
  margin: 0 auto;
  &.full-width {
    display: flex;
    align-items: center;
    width: 100%;
  }
}

.pageWrapper {
  padding: 24px;
  min-height: calc(100vh - 60px);

  margin: 0 auto;

  &.maxWidth {
    max-width: $boxedWidth;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
}

.w-100 {
  width: 100%;
}

.h-100 {
  height: 100%;
}

.shadow-none {
  box-shadow: none !important;
}

.rounded {
  border-radius: $border-radius !important;
}

.rounded-circle {
  border-radius: 50% !important;
}

.rounded-pill {
  border-radius: 25px !important;
}

.overflow-hidden {
  overflow: hidden;
}

.text-decoration-none {
  text-decoration: none;
}

.position-relative {
  position: relative;
}

.op-7 {
  opacity: 0.7;
}

.truncate-2 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.cursor-pointer {
  cursor: pointer;
}

.avatar-group {
  img {
    border: 2px solid $white;
    margin-right: -5px;

    &:last-child {
      margin-right: 0;
    }
  }
}

a {
  color: var(--mat-sys-on-background);
  &:hover {
    color: $primary;
  }
}

html .filter-sidebar {
  width: 290px;
  z-index: 9;
}

.mat-drawer[style*="visibility: hidden"] {
  display: none;
}

pre {
  margin: 0;
  white-space: nowrap;
}

td.hljs-ln-line.hljs-ln-numbers {
  padding-right: 10px;
}

@media (min-width: 768px) {
  html .flex-sm-row {
    flex-direction: row !important;
  }
}